@inherits LayoutComponentBase
@inject JournalApp.Services.ThemeService Theme

<div class="app-root @Theme.CssClass">
    <div class="page">
        <div class="sidebar">
            <NavMenu />
        </div>

        <main>
            <div class="top-row px-4">
                <a href="login">Switch User</a>
            </div>

            <article class="content px-4">
                @Body
            </article>
        </main>
    </div>
</div>

@code {
    protected override void OnInitialized()
    {
        Theme.OnChange += OnThemeChanged;
    }

    private void OnThemeChanged()
    {
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        Theme.OnChange -= OnThemeChanged;
    }
}
