@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        @* This calls the NavMenu.razor file we just edited above *@
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            @* You can put a "Logout" button or User name here later *@
            <a href="login">Switch User</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>